h1{
  color: pink;
  text-align: center;
  text-decoration: underline;
  font-size: 30px
}
p{
  color: orange;
  font-size: 20px;
  padding: 10px;
  border: 1px solid powederblue;
  font-family: cursive;

}
ol{
  color: black;
  font-size: 10px;
  border: 1px solid green;
}
README.md{
  color: orange;
  font-size: 15px;
  font-family: monospace;
  padding: 5px;
}
body{
  background-color: inherit;
}
